@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-clash-display: var(--font-clash-display);
  --color-text-black: #040415;
  --color-green-primary: #b9e697;
  --color-primary-bg: #f2f2f2;
  --color-grey-primary: #262626;
  --color-image-bg-grey: #5e5f5a;
  --color-darkgreen-secondary: #49633f;
  --color-image-bg-color: #918f82;
  --font-dew-semibold: "Dew-semibold", sans-serif;
  --font-dew-regular: "Dew-regular", sans-serif;
  --font-dew-bold: "Dew-bold", sans-serif;
  --font-dew-expanded-bold: "Dew-expanded-bold", sans-serif;
  --font-dew-expanded-semibold: "Dew-expanded-semibold", sans-serif;
  --font-dew-expanded-regular: "Dew-expanded-regular", sans-serif;
  --font-dew-expanded-italic: "Dew-expanded-italic", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-clash-display), Arial, Helvetica, sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body::-webkit-scrollbar {
  display: none;
}

.container-hero-wrapper {
  display: block; /* prevents flex shrink issues */
  width: 100%;
  /* Make hero truly fullscreen across browsers */
  height: 100vh; /* fallback */
  min-height: 100svh; /* account for mobile dynamic UI */
  min-height: 100dvh; /* modern dynamic viewport */
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
